.card{
    width: 140px;
    height: 220px;
    background-color:rgb(171, 171, 171);
    border: 3px solid black;
    box-shadow: 30px 40px 15px 0px gray;
    padding: 4px;
    margin: 10px;
    border-radius: 5px;
    
}

.card.back{
  background-color: yellow;
}

.stat-list{
    margin: 0;
    padding: 0 8px;
  }

  .stat-list-item{
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .stat-list-item.selected{
    outline: 1px;
    background-color: #707070;
  }

  .card-list-item.player .stat-list-item:hover{
    outline: 1px dashed black;
    background-color: #8f8f8f;
  }

  .Game{
    display: flex;
    justify-content: center;
    gap: 150px;
  }

.center-area{
  text-align: center;
  align-self: center;
  min-width: 1vw;
}

.card-list{
  display: flex;
  flex-direction: row-reverse;
}


.card-list.opponent{
  direction: rtl;
}

.card-list-item.player{
  margin-left: calc(2vw - 169px)
}

.card-list-item-opponent{
  margin-right: calc(2vw - 169px);
  direction: ltr;
}

.play-button{
  width:80px;
  height:40px;
  font-size: larger;
  font-weight:bolder; 
}

.hand{
  display: flex;
  flex-direction: column;
  min-width: 30vw;
}